.inform {
    min-height: 400px;
    margin-top: -100px;
    &__wrap {
        display: grid;
        grid-template-columns: repeat(2, minmax(150px, 400px));
        justify-content: space-evenly;
    }
    &__elem {
        background-color: #c70101;
        min-height: 300px;
        padding: 0px 25px 25px 25px;
        &_wrap {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            transform: translateX(25px);
            margin-top: 0px;
            list-style: none;
        }
        &_title {
            color: #fff;
            width: 50%;
            text-transform: uppercase;
            line-height: 36px;
            font-weight: 700;
            cursor: pointer;
            &_active {
                background-color: gold;
                height: 35px;
                text-align: center;
                color: #c70101;
                width: 100%;
            }
        }
    }
    &__elem1 {
        background-color: transparent;
        background: url(../img/dhl2.png) center (center/cover) no-repeat;
    }
}